<web-app>

<servlet>
<servlet-name>Database</servlet-name>
<servlet-class>Database</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Database</servlet-name>
<url-pattern>/hello</url-pattern>
</servlet-mapping>


<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>



</web-app>